
//  This is false data that can only be used as a sample.

//dev
AUTH_CLIENT_ID = '202307189732447909864e19472c6a973270c000'
AUTH_SECRET = '64e19472c6a97YbL0JQ7tlgnJSyQOZU0OE1xOq33333'
AUTH_HOST = http://tests.com
PDFCHIP_HOST = http://tests.com
PDFCHIP_SLUG = 'service-service'
AUTH_SLUG = 'service-service-auth'
DB_HOST = 40.400.40.40
USER_DB_HOST = 'service-service-user'
PASSWORD_DB_HOST = 'MugYw78d8d6v'
DATABASE = 'service-service'

//test
AUTH_CLIENT_ID = 
AUTH_SECRET = 
AUTH_HOST = 
PDFCHIP_HOST = 
PDFCHIP_SLUG = 
AUTH_SLUG = 
DB_HOST = 
USER_DB_HOST = 
PASSWORD_DB_HOST = 
DATABASE = 

